
.root {
    -fx-background-color: linear-gradient(to bottom right, #ffe4ec, #bb98d4);
}


.button {
    -fx-background-color: linear-gradient(to bottom right, #1e1e68, #0e1743);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #5757a3, #0e1743);
}
